/* <!-- Reset --> */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <!-- Header --> */

.box{
    margin: 10px 0;
    padding: 5px;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}

.contenitore1, .contenitore2, .contenitore3, .contenitore4, .contenitore6, .contenitorefooter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

li > a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.boxlogo{
    padding-right: 100px;
}

.boxlogin{
    width: 120px;
    text-align: right;
    padding-left: 100px;
}

.boxlogin > a{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

h2, h3, p{
    font-family: 'Roboto', sans-serif;
}

.text-header{
    font-size: 30px;
}

.text-header, .p-header{
    color: white;
    text-align: center;
}

.bottoniheader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottone1, .bottone2, .bottone3, .bottonefooter{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.bottone1{
    background-color: white;
}

.bottone2{
    background-color: black;
    color: white;
}

.boxrosa{
    text-align: center;
    height: 300px;
    width: 600px;
}

/* <!-- Main --> */

.boxmain1, .boxmain2, .boxmain3{
    height: 400px;
    width: 600px;
}

.boxmain1{
    background-image: url(../img/item1.svg);
}

.boxmain2{
    background-image: url(../img/item2.svg);
}

.boxmain3{
    background-image: url(../img/item3.svg);
}

.boxpink{
    padding-left: 100px;
    height: 400px;
    width: 400px;
    text-align: left;
}

.contenitore5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contenitore4, .contenitore5{
    background-color: #f6f6f6;
}

h2{
    font-size:40px;
}

p{
    font-size: 17px;
}

.bottone3{
    background-color: #7289da;
    text-align: center;
    color: white;
}

.boxverde{
    background-image: url(../img/item4-big.svg);
    height: 850px;
    width: 1000px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

/* <!-- Footer --> */

.contenitore6, .contenitorefooter{
    background-color: #23272a;
}

.lingua{
    display: flex;
    align-items: center;
}

.box1 h2{
    color:#7289da ;
}

h4{
    color: white;
    margin: 5px;
}

.ita{
    width: 30px;
    height: 20px;
}

.box1{
    width: 240px;
    height: 400px;
}

.icon{
    color: white;
    padding-top: 15px;
}

.distanza{
    margin: 10px;
}

.box2 h3{
    color:#7289da ;
}

.box2 h4{
    margin: 15px;
}

.box2{
    width: 120px;
    height: 400px;
    padding-top: 50px;
    padding-right: 40px;
}

.contenitorebottoni{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top:1px solid #7289da;
}

.bottonefooter{
    background-color:#7289da ;
    color: white;
}





